# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
.turbo/

# env & secrets
.env
.env.*
!.env.example

# prisma / local dev data
packages/db/.pgdata*/
packages/db/.env
.devdata/

# logs & coverage
*.log
coverage/

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
